.header {
  padding-top: 45px;
  width: 100%;
}

.header .header__column {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  font-size: 13px;
  color: #a9a9a9;
}

.header .header__column i {
  font-size: 20px;
}
